
@font-face {
    font-family:'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family:'Poppins Medium';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family:'Poppins Medium';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Century Gothic';
    src: url('./fonts/centurygothic.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family:'Century Medium';
    src: url('./fonts/centurygothic_bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: 'Century Gothic';
  
}